<!-- Loading Container -->
<div class="loading-container" data-ng-include=" 'views/partials/loading.html' "></div>
<!--  /Loading Container -->

<!-- Navbar -->
<div class="navbar {{settings.fixed.navbar ? 'navbar-fixed-top' : ''}}" data-ng-include=" 'views/partials/navbar.html' "></div>
<!-- /Navbar -->

<div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Body -->
            <div class="page-body" ui-view>
                <!-- Your Content Goes Here -->
            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->
    </div>
    <!-- /Page Container -->
    <!-- Main Container -->

</div>
